body {
    height: 100%;
    display: grid;
    padding-bottom: 5%;
    background:#6fbfd6;
    background-image: url('Images/bird_background.jpg');
    background-repeat:no-repeat;
    background-position: 25% 50%  ;
    background-size:cover;
    image-rendering:crisp-edges;
    z-index: 1;  
    background-attachment: fixed

    
    ;
}

.list-group{
    background:transparent;
}

a{
    color: firebrick;
}

.container{
    display: grid;
    /* background-color: lightgrey; */
    background-size: cover;
    min-width: 90%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    /* grid-row-gap: 2em; */
    /* padding:3em;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
     */
};

.row {
    padding-right: calc(var(--bs-gutter-x) * 3);
  }


.myborder{
    border: lightgray 1px solid;
    padding: 2px;
}   

.label{
    font-weight: bolder;
}

img{
    width: auto;
    height:auto;
    border:none;
    position: relative;
    padding: 1em;
    transition:transform 0.25s ease;
}


div {
    display: grid;
    grid-auto-flow: inherit;
}

#roundImage{
    border-radius: 15%;
}

.navDisplay {
    display: inline;
    padding: 5px;
    margin:10px;
  }

nav {
    padding-top: 10%;
}

.subtitle{
    font-size:larger;
    text-align: center;
    font-weight: bolder;
    align-self: center;
    justify-content: center;
    text-decoration:underline
}

h2{
    display: grid;
    justify-content: center;
    font-size: xx-large;
}

h3{
    display: grid;
    justify-content: center;
}

h1{
    font-size: xxx-large;
    text-align: center;
    font-weight: bolder;
    display: grid;
    align-content: center;
    justify-content: center;
}

#noAtts{
    box-shadow: none;
}

.rmImg{
    padding:2 em;
    border-radius: 15%;
}

#longImage{
    height:450px;
    width:auto;
    padding-left: 50%;
}

.appearanceImg{
    height:auto;
    width:400px;
    position: relative;
}



img:hover {
    -webkit-transform:scale(1.1); /* or some other value */
    transform:scale(1.1);
}

.layout{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.centerImage{
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin: .5em;
    
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 5px 5px 0 0;
  }